<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
<script>
    var app = angular.module("sampleApp", ["firebase"]);

    app.factory("chatMessages", ["$firebaseArray",
        function($firebaseArray) {
            // create a reference to the Firebase where we will store our data

            var ref = new Firebase("https://scorching-inferno-3669.firebaseio.com/messages");

            return $firebaseArray(ref);
        }
    ]);

    app.controller("ChatCtrl", ["$scope", "chatMessages",
        function($scope, chatMessages) {
            $scope.user = "Guest " + Math.round(Math.random() * 100);

            $scope.messages = chatMessages;

            $scope.addMessage = function() {
                // $add on a synchronized array is like Array.push() except it saves to Firebase!
                $scope.messages.$add({
                    from: $scope.user,
                    content: $scope.message,
                    timestamp: Firebase.ServerValue.TIMESTAMP
                });

                $scope.message = "";
            };

            // if the messages are empty, add something for fun!
            $scope.messages.$loaded(function() {
                if ($scope.messages.length === 0) {
                    $scope.messages.$add({
                        from: "Uri",
                        content: "Hello!",
                        timestamp: Firebase.ServerValue.TIMESTAMP
                    });
                }
            });
        }
    ]);
</script>

<div ng-app="sampleApp" ng-controller="ChatCtrl">
    <p>
        Sort by:
        <select ng-model="orderBy">
            <option>from</option>
            <option>content</option>
            <option>timestamp</option>
        </select>
    </p>

    <p>Search: <input ng-model="searchText"></p>

    <ul class="chatbox">
        <!-- arrays are fully sortable and filterable -->
        <li ng-repeat="message in messages | orderBy:orderBy | filter:searchText">
            {{ message.from }}: {{ message.content }}

            <!-- delete a message using $remove -->
            <a href="" ng-click="messages.$remove(message)">X</a>
        </li>
    </ul>

    <form ng-submit="addMessage()">
        <input type="text" ng-model="message">
        <input type="submit">
    </form>
</div>
</body>
</html>